/*
!.gitignore
!LICENSE
!README.md
!.github/
!.github/ISSUE_TEMPLATE/
!.github/ISSUE_TEMPLATE/*.yml
!config/
!defaultconfigs/
!template/
!kubejs/
kubejs/probe/
kubejs/流程大纲/
kubejs/gtceu-modern-docs-gh-pages.zip
!emi.json
